################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.xpr
/Project_4/Project_4.zip
/Project_3
/Project_4/raport.pdf
/Project_5/Zad5/.vs/DomowaBiblioteka/v15
/Project_5/Zad5/bin/Debug
/Project_5/Zad5/obj/Debug
/Project_2.zip
