Biblioteka 
{
	background-color: #666666;
	font-family: verdana;
	color: white;
}

OpisDokumentu 
{
	display: inline-block;
	font-size: 250%;
	padding: 20px;
	max-width: 75%;
	text-align: center;
	font-weight: bold;
}

Autorzy 
{
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 20px;
	padding: 5px;
	font-size: 15px;
	width: 260px;
	border: 1px solid black;
	background-color: lightgrey;
	color: #000000;
	border-radius: 2ex;
}

AutorDokumentu 
{
	display: list-item;
	padding: 12px;
	list-style: none;
	text-align: left;	
}

AutorDokumentu::after 
{
	position: absolute;
	right: 10px;
	content: attr(Indeks);
}

Dział 
{
	display: block;
	font-size: 40px;
	margin: 30px;
	text-align: center;
	border-radius: 2ex;
	padding: 15px;
}

Dział[IdDziału="FN"]::before 
{
	display: block;
	content: "Dział Fantasy";
	font-weight: bold;
	padding-bottom: 20px;
}

Dział[IdDziału="FN"] 
{
	background-color: #3366FF;
}

Dział[IdDziału="KR"]::before 
{
	display: block;
	content: "Dział kryminałów";
	font-weight: bold;
	padding-bottom: 20px;
}

Dział[IdDziału="KR"] 
{
	background-color: #3366CC;
}

Dział[IdDziału="OB"]::before 
{
	content: "Dział obyczajowy";
	display: block;
	font-weight: bold;
	padding-bottom: 20px;
}

Dział[IdDziału="OB"] 
{
	background-color: #2196F3;
}

Dział[IdDziału="HI"]::before 
{
	content: "Dział historyczny";
	display: block;
	font-weight: bold;
	padding-bottom: 20px;
}

Dział[IdDziału="HI"] 
{
	background-color: #0D47A1;
}

Egzemplarz 
{
	display: inline-block;
	border: 2px solid black;
	padding: 10px;
	text-align: left;
	font-size: 25px;
	font-weight: normal;
	margin: 5px;
	border-radius: 2ex;
}

Egzemplarz::before 
{
	content: "Tytuł: " attr(Tytuł) "\a Autor: " attr(AutorKsiążki);
	white-space: pre;
}

DataWydania
{
	display: block;
}

DataWydania::after 
{
	content: "Data wydania: " attr(Dzień) "-" attr(Miesiąc) "-" attr(Rok);
}

Cena
{
	display: block;
}

Cena::before 
{
	content: "Cena: "
}

Cena::after 
{
	content: " " attr(Waluta);
}

RodzajKsiążki::after 
{
	content: "Rodzaj okładki: " attr(Rodzaj);
}








